<%- include("./templates/body.ejs",{title : "404"}) -%>
    <div class="container">
        <div class="center error-div">
            <img class="error-img" src="/images/404.jpg" alt="Error Image">
            <h1 class="error-text">404</h1>
            <h3 class="error-text">Pagina nu a fost gasita!</h3>
        </div>
    </div>
<%- include("./templates/footer.ejs") -%>