<%- include("./templates/body.ejs") -%>
<script src="/scripts/writing.js" defer></script>
<div class="container">
    <img class="background-image" src="/images/background.jpg" alt="Background Image">
    <div class="box center">
        <h1 class="full-title"></h1>
    </div>
</div>
<%- include("./templates/footer.ejs") -%>