<footer class="footer" id="footer">
    <div class="footer-data">
        <h1 class="footer-title">Acest proiect a fost realizat de Popescu Darius</h1>
        <h3 class="footer-header">Impreuna cu ajutorul profesorului de istorie, Mihai Chiriac</h3>
    </div>
</footer>
</main>
<body>
</html>